@page
@model CRUDNET6RAZORVS2022.Pages.Cursos.IndexModel

@{
    ViewData["Title"] = "Lista de Cursos";
}


<h5> Vea los cursos profesionales en <a href="https://render2web.com/cursos"> www.render2web.com/cursos </a> </h5>

<div class="card" >
  
  <div class="card-header">
    <div class="row">

      <div class="col-sm-6">
        <h2 class="text-info">Lista de cursos</h2>
      </div>

      <div class="col-sm-6">
        <a asp-page="/Cursos/Crear" class="btn btn-primary">Crear Nuevo Curso</a>
      </div>

    </div>
  </div>



  <div class="card-body">

    <form method="post">

        @*  SI HAY RECORDS  MOSTRARLOS  *@
        @if( Model.Cursos.Count() > 0 )
          {

            <br/> <br/>

            <table class="table table-striped border">

               <thead>
                  <tr class="table-secondary">
                    <th> @Html.DisplayNameFor( m=>m.Cursos.First().Id)                </th>
                    <th> @Html.DisplayNameFor( m=>m.Cursos.First().NombreCurso)       </th>
                    <th> @Html.DisplayNameFor( m=>m.Cursos.First().CantidadClases)    </th>
                    <th> @Html.DisplayNameFor( m=>m.Cursos.First().Precio)            </th>
                    <th> @Html.DisplayNameFor( m=>m.Cursos.First().FechaCreacion )    </th>
                    <th> Acciones </th>
                  </tr>
               </thead>
         

               <tbody>

                  @foreach( var item in Model.Cursos )
                  {
                    <tr>
                        <td> @Html.DisplayFor( m => item.Id)                </td>
                        <td> @Html.DisplayFor( m => item.NombreCurso)       </td>
                        <td> @Html.DisplayFor( m => item.CantidadClases)    </td>
                        <td> @Html.DisplayFor( m => item.Precio)            </td>
                        <td> @Html.DisplayFor( m => item.FechaCreacion )    </td>
                        <td>

                        @*-----------------------------------------------------------------------------*@
                          <a class="btn btn-success btn-sm"  asp-page="/Cursos/Editar" 
                             asp-route-id="@item.Id"> Editar </a>

                          @* asp-route-id="@item.Id": con click en editar un record de la lista de cursos, 
                              se envia el id del record a la pagina Edit para q lo buske.
                        -------------------------------------------------------------------------------*@


                          <button asp-page-handler="Borrar" 
                           asp-route-id="@item.Id"
                           onclick="return confirm('Seguro de borrar ? ')"
                           class="btn btn-danger btn sm"> Borrar </button>

                        </td>

                    </tr>          
                  } // foreach

               </tbody>


            </table>

          }else
          {

              <h5> No hay cursos disponibles.</h5>
            
          }// si hay registros

    </form>

  </div>



</div>